@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    --app-dark-background: #1a1d28;
    --app-border-radius: 5px;
    --app-font-color1: #000;
    --app-font-color2: #fff;
    --app-font-hover: #c9c9c9;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #001427;
    color: #ebebeb;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

button {
    transition: all 0.25s ease-in-out;
}

/***********************************/
/* Header*/
/***********************************/

.menu-icon {
    display: none;
    line-height: 80px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin:  5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--app-font-color2);
}

.nav-container {
    position: absolute; 
    top: 0;  
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(255 255 255 / 0.1);
    backdrop-filter: saturate(120%) blur(10px);
}

.nav {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.nav-list li {
    line-height: 80px;
    margin-left: 15px;
    font-size: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: var(--app-font-color2);
    transition: all 0.25s ease-in-out;
}

.nav-list li a:hover {
    color: #b7990d;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: var(--app-font-color2);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }  

    .nav-item {
        margin: 5px 0;
    }

    .nav-list.active {
        left: 0;
    }
}

.logo {
    height: 80px;
 }

h1 {
    line-height: 80px;
    font-size: 30px;
    font-weight: 600;
    cursor: default;
}

/***********************************/
/* Main*/
/***********************************/

main {
    flex-grow: 1;
}

.main-bg {
    background-image: url('../img/bannerimage.jpg');
    background-size: cover; 
    background-position: center -10rem;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    flex-direction: column;
}

.main-bg::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 0.50);
	z-index: 10;
}


.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}

.track-button {
    padding: 10px;
    border-radius: 6px;
    background-color: #7f2b32;
    font-weight: 500;
}

.track-button a {
    color: #ebebeb;
}

.track-button:hover {
    background-color: #9c353e;
    scale: 1.03;
}

.know-more-button {
    padding: 10px;
    background-color: #9ea3b0;
    border-radius: 6px;
    font-weight: 500;
}

.know-more-button a {
    color: #1a1d28;
}

.know-more-button:hover {
    scale: 1.03;
    background-color: #b4b8c2;
}

.intro {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 40px;
    z-index: 1000;

    h2 {
        font-size: 40px;
    }

    .subheading {
        font-size: 20px;
        max-width: 700px;
    }
}

/***********************************/
/* Why choose us */
/***********************************/

.benefits {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px auto;
    flex-direction: column;
}

.benefits h3 {
    font-size: 35px;
    margin-bottom: 30px; 
}

.row {
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap; 
    width: 100%;
}

.col {
    flex: 1 1 calc(25% - 20px); 
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgb(158 163 176 / 20%);
    background-color: #000;
    padding: 20px;
}

.benefits-heading {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 800;
}

.benefits-sub-heading {
    font-size: 17px;
    text-align: center;
    font-weight: 300;
}

.trophy-icon {
    text-align: center;
    font-size: 25px;
    margin: 12px;
    color: #f39c12 ;
}
.bolt-icon {
    text-align: center;
    font-size: 25px;
    margin: 12px;
    color: #f1c40f;
}
.globe-icon {
    text-align: center;
    font-size: 25px;
    margin: 12px;
    color: #2ecc71;
}
.shield-icon {
    text-align: center;
    font-size: 25px;
    margin: 12px;
    color: #3498db;
}

@media screen and (max-width: 768px) {
    .col {
        flex: 1 1 calc(50% - 10px); 
    }
}

@media screen and (max-width: 480px) {
    .col {
        flex: 1 1 100%; 
    }
}


/***********************************/
/*            Tracking             */
/***********************************/

.tracking {
    height: auto;
    display: grid;
    place-items: center;
    gap: 8rem;
}

.tracking-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 20rem;
    width: 50rem;
}

.tracking-text > h2 {
    font-size: 5rem;
    font-weight: 500;
}

.tracking-text > p {
    font-size: 2rem;
    font-weight: 400;
}

.track-btn {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 6px;
    background-color: #7f2b32;
    color: #ebebeb;
}

.track-btn:hover {
    background-color: #9c353e;
    scale: 1.02;
}

#map {
    width: 700px;
    height: 350px;
}

#office-marker {
    background-image: url('../img/building.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#package-marker {
    background-image: url('../img/package.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
    display: none;
}

.mapboxgl-popup {
    max-width: 200px;
    color: black;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tracking {
        gap: 4rem;
    }

    .tracking-text {
        width: 80%;
        margin-bottom: 20px;
    }

    #map {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .tracking-text {
        width: 90%;
    }
}

/***********************************/
/*Get pricing*/
/***********************************/

.get-pricing {
    padding: 50px 0;

}

.get-pricing-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: rgb(158 163 176 / 20%);
    border-radius: 6px;
    flex-wrap: wrap;
}

.get-pricing-img {
    max-width: 50%;
    height: auto;
    padding: 10px;
}

.get-pricing-img img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.get-pricing-text {
    flex: 1;
    max-width: 50%;
    text-align: center;
    padding: 30px;

    h4 {
        text-align: left;
    }

    p {
        text-align: left;
    }
}

.get-pricing-text h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.get-pricing-text p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

.pricing-button {
    padding: 10px;
    background-color: #b7990d;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}


.pricing-button:hover {
    background-color: #a58a0c;
    scale: 1.02;
}

@media screen and (max-width: 768px) {
    .get-pricing .get-pricing-box {
        flex-direction: column;
        text-align: center;
    }

    .get-pricing-text {
        max-width: 100%;
    }

    .get-pricing-img {
        max-width: 100%;
        height: auto;
    }
    
    .get-pricing-img img {
        max-width: 100%;
        height: auto;
    }
}

/***********************************/
/* FAQ */
/***********************************/

.faq {
    color: #fff;
    padding: 10px;
    margin: 30px auto;
}

.faq-wrapper {
    display: grid;
    place-items: center;
}

.faq h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.inner-wrapper {
    background-color: rgb(158 163 176 / 20%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
}

.faq-item {
    margin-bottom: 20px;
    width: 60rem;
}

.faq-item:last-child {
    margin-bottom: 0;
}

.question-container {
    background-color: #7f2b32;
    border-radius: 6px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    h4 {
        padding-right: 20px;
    }
}

.faq-question {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
}

.faq-answer {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 1.6;
    display: none;
}

.faq-item.active .faq-answer {
    display: block;
}

@media (max-width: 768px) {
    .faq h3 {
        font-size: 24px;
    }
    
    .faq-question {
        font-size: 18px;
    }

    .faq-answer {
        font-size: 14px;
    }

    .faq-item {
        margin-bottom: 20px;
        width: 100%;
    }
}


/***********************************/
/* Footer*/
/***********************************/

footer {
    background-color: #000;
}

.height {
    height: 80px;
    justify-content: space-between;
}

.copyright {
    line-height: 80px;
    cursor: default;
    font-size: 20px;
}

.social-list li {
    line-height: 80px;
    margin-left: 15px;
    font-size: 30px;
}

.social-list li a {
    color: var(--app-font-color2);
}

.social-list li a:hover {
    color: var(--app-font-hover);
}